.footermain{
    width: 100%;
    height: max-content;
    background-color:var(--bgcolor-secendory);
}
 

ul li{text-align: left;padding: 0.5rem;}
 ul li a:hover{background-color: transparent;color: #17a2b8;}
 .footer_card{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 10px;
    text-align: center;
    cursor: default;
    
 }
 .title{text-align: center;padding: 1rem;color: #fff;}